<header class="top-nav">
  <div class="nav-container">
    
    <div class="brand">
      <h1 class="royal-title">The King's Archive</h1>
    </div>


    <nav class="nav-links">
      <div class="nav-group">
        <span class="admin-badge">Librarian</span>
        <a routerLink="/books" routerLinkActive="active" class="nav-item">Inventory</a>
        <a routerLink="/members" routerLinkActive="active" class="nav-item">Members</a>
      </div>

      <div class="nav-group student-group">
        <span class="admin-badge student">Student</span>
        <a routerLink="/borrow" routerLinkActive="active" class="nav-item">Borrow</a>
        <a routerLink="/return" routerLinkActive="active" class="nav-item">Return</a>
      </div>
    </nav>
  </div>
</header>
